
body {
    background-color: #344e41;
    color: #dad7cd;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    height: 100%;
    margin: 0;
}

header {
    background-color: #588157;
    padding: 20px 0;
    text-align: center;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #a3b18a;
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
}

section {
    background-color: #588157;
    padding: 20px;
    border: solid 12px #a3b18a;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    color: white;
    font-family: cursive;
}

h2 {
    font-size: 38px;
    font-weight: bold;
    color: #dad7cd;
}

li {
    list-style-type: circle;
}

a:link {
    color: hotpink;
}

footer {
    background-color: #588157;
    padding: 20px;
    text-align: center;
    color: white;
}
